<p>
  <span>Year </span><span id="year-number"></span>
</p>
<div id="year-slider"></div>
<p>
  <span>Week of </span><span id="week-number"></span>
</p>
<div id="week-slider"></div>

<div id="map">
  
</div>