<p>
  <label for="year-number">Year</label>
  <input type="text" id="year-number" readonly style="border:0; color:#FF3399; font-weight:bold;">
</p>
<div id="year-slider"></div>
<p>
  <label for="week-number">Year</label>
  <input type="text" id="week-number" readonly style="border:0; color:#FF3399; font-weight:bold;">
</p>
<div id="week-slider"></div>

<div id="map">
  
</div>