// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { 
  width: 100%;
  height: 800px;
}

#year-slider, #week-slider {
  width: 300px;
}

#year-number, #week-number {
  border:0; 
  color:#FF3399; 
  font-weight:bold;
  width: 100px;
}

label {
  border: 0;
}
