// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #333333 !important;
  font-family: 'Lato', sans-serif !important;
}

@media (min-width: 1200px) {
  .container {
  width: 1400px;
  }
}

#logo {
  width: 30%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

#map { 
  margin-top: 55px;
  margin-left: 30px;
  width: auto;
  height: 550px;
}

.years, .weeks {
  padding-bottom: 20px;
  padding-right: 10px;
}

#year-slider, #week-slider {
  width: auto;
}

#year-number, #week-number {
  border: 0; 
  /*color: #FF3399; */
  color: #B31998;
  font-weight: bold;
  width: 100px;
}

#year-number {
  font-size: 20px;
}

#week-number {
  font-size: 18px;
}

#week-label, #year-label {
  text-transform: uppercase;
  color: #e8e0d8;
}

label {
  border: 0;
}

p.slider-label {
  text-align: center;
}

.ui-slider .ui-slider-handle {
  color: #e8e0d8;
}

.countries {
  color: #e8e0d8;
}

.country-container {
  position: relative;
  margin: 20px 10px 20px 0;
  cursor: pointer;
}

.country-name {
  text-transform: uppercase;
  font-size: large;
}

.chart {
  padding-top: 6px;
  display: block;
  float: right;
  font-size: small;
  color: #808080 ;
}

.country-info {
  padding: 7px;
  background: rgba(42,75,129,.75);
  border-radius: 5px;
}

.play-overlay {
  position: absolute;
  border-radius: 5px;
  background: rgba(201,201,201, .50);
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  // transform: translate(0%, -318%);
  // transform: scale(2.0);
}

.play-overlay span {
  position: relative;
  left: 42%;
  display: inline;
  line-height: 80px;
  vertical-align: middle;
  font-size: 40px;
}